/*  ** fonts **
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
*/
.none {
    display: none;
}


body {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #EFEBE4;
    background: #0A302E;
}

section {
    background-image: url(../images/bg.png);
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.mb-20 {
    margin-bottom: 20px;
}

/* mobile burger  */
.mobile-nav-button {

    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;


    position: relative;
    right: 0;
    z-index: 999;
    width: 40px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;


}

.mobile-nav-button__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background: #EFEBE4;

}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #EFEBE4;
    transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
    left: 0;
    top: -10px;
}

.mobile-nav-button__icon::after {
    left: 0;
    top: 10px;
}

.mobile-nav-button__icon.active {
    background-color: transparent;
}

.mobile-nav-button__icon.active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

/* nav */

.header {
    padding-top: 40px;
    padding-bottom: 28px;
}



.holder-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-menu__list {
    max-width: 800px;
    margin: 0 auto;


    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;


}

.nav-menu__item {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 60px;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

/* leng BTN */

.dropbtn {
    padding: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A65532;
    padding: 10px;
}

.dropbtn {
    padding-right: 25px;
}

.dropbtn::after {
    content: "";
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 15px;
    background: url(../images/arrow-top.svg) no-repeat scroll center center;
}

.dropdown-content a {
    color: #EFEBE4;
    padding: 2px 0;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #A65532;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    padding: 0 70px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.03em;
    z-index: 10;
}

.logo::after,
.logo::before {
    content: "";
    position: absolute;
    background-color: #f0f0f0;
    height: 1px;
    transform: scaleY(0.5);
    width: 55.5px;
    top: 50%;
    transform: translateY(-50%);
}

.logo::after {
    right: 0;
}

.logo::before {
    left: 0;
}


/* hero */
.hero-main {
    display: flex;
}

.hero-main-box {
    flex: 0 0 50%;
}

.hero-main-content {
    flex: 0 0 50%;
    padding-right: 70px;
}

.hero-title {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-size: 127px;
    line-height: 90.5%;
    margin: 30px 0 90px 0;
    /* text-align: right; */
    text-align: left;
}

.hero-desc {
    position: relative;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
}


.hero-main-content {
    position: relative;
}

.hero-desc::after {
    position: absolute;
    content: "";
    background-color: #f0f0f0;
    height: 1px;
    transform: scaleY(0.5);
    width: 117%;
    bottom: 0;
    z-index: -1;
    right: -15%;
}

.hero-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #A65532;
    border-radius: 50%;
    margin: 0 38px;

}

.hero-text {
    padding-top: 55px;
}

.hero-text p {
    margin-bottom: 40px;
    letter-spacing: 0;
}



/* projects-info */
.projects-info {
    padding: 33px;
    flex: 0 1 50%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 5%;
}

.projects-info__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 33%;
}

.projects-info__number {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;


}

.projects-info__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

/* Timeline section */

.timeline-section {
    padding-top: 126px;
}

.sub-title {
    padding-top: 125px;
    padding-bottom: 20px;
    position: relative;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.header__title.sub-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: #f0f0f0;
}

.header-title-top {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.header__title {
    padding-top: 0;
    flex: 0 1 50%;
    margin: 0;
    display: block;
    text-align: left;
}

.holder-timeline-slider {
    margin: 0 auto;
    max-width: 1300px;

}

.slick-track {
    padding-top: 30px;
}

.timeline-section .slick-slide>div {
    transform: scale(.7);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.timeline-section .slider-for .slick-center>div {
    transform: scale(0.90);
}



.slider__text p {
    font-family: 'Inter', serif;
    font-size: 14px;
    color: #EFEBE4;
    font-weight: 400;
    margin-top: 26px;
}

.slick-center .slider__text {
    display: block;
    text-align: center;
}

.slider__item {
    position: relative;
}

.slider__data {
    position: relative;
    top: 11px;
    left: 68px;
    z-index: -1;
}

.slider__data span {
    font-family: 'Cormorant Garamond', serif;
    font-size: 156px;
    font-weight: 600;
    color: #EFEBE4;
    opacity: 0.1;
}

/* .slider__item>img {
    width: 100%;
    height: auto;
} */

.button-arrow {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    /* z-index: 1; */
}

.slick-arrow {
    position: absolute;
    top: 42%;
    margin-top: -25px;
    z-index: 1;
}

.slick-prev {
    /* z-index: 1; */
    left: 7px;
    text-align: left;
}

.slick-next {
    right: 7px;
    text-align: right;
}

/* ruler */
.ruler .slick-slide>div {
    transform: none;
    cursor: pointer;
}

.holder-timline-ruler {
    display: flex;
    /*height: 180px;*/
}

.ruler .slick-list.draggable {
    height: 220px;
}



.slider-nav .item-slick {
    height: 50px;
}

.slider-for {
    margin-bottom: 30px;
}

.slider-year {
    position: absolute;
    top: -50px;
    left: -17px;
}

.ruler .slick-track {
    top: auto;
    bottom: -10px;

}

.ruler {
    position: relative;
    width: 100%;
    /*height: 14px;*/
}

.cm {
    display: flex !important;
    justify-content: space-around;
    align-items: end;
}

.mm {
    width: 1px;
    background-color: #fff;
    position: relative;
    bottom: 0;
}

.mm-4,
.mm-8 {
    height: 110px;
}

.mm-7 {
    /*opacity: 0;*/
    /* display: none; */
}

.mm-1,
.mm-3,
.mm-5,
.mm-7 {
    height: 73px;
    opacity: .7;
}

.mm-2,
.mm-6 {
    height: 47px;
    opacity: .3;
}


.ruler .slick-center .mm-4 {
    /* height: 130px; */
    width: 1px;
    opacity: 1;
    /* scale ruler active string */
    transform: scale(1.37);

}

.ruler .slick-center .slider-year {
    font-size: 40px;
    left: -32px;
    top: -60px;
    opacity: 1;
}

.ruler .slider-year {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    opacity: 0.6;
}

.ruler .slick-track {
    padding-top: 100px;
}

.ruler .slick-arrow {
    top: 70%;
}

#mentionme {
    text-align: center;
    margin-top: 10%;
}

/* slider dots */
.my-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
    font-size: 0;
    line-height: 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.my-dots li {
    padding: 6px;
    font-size: 0px;
}

.my-dots button {
    padding: 0;
    width: 5px;
    height: 5px;
    background-color: #EFEBE4;
    border-radius: 50%;
    outline: none;
}

.my-dots li.slick-active button {
    width: 8px;
    height: 8px;
    background-color: #EFEBE4;
    font-size: 0;
}

/* end Timeline section */

/* Projects section */

.projects-section {
    background-color: #EFEBE4;
    background-image: none;
    padding-bottom: 126px;
}

.header-title-projects {
    background-color: #EFEBE4;
    padding: 135px 0 60px;
    margin: 0;
    color: #A65532;
}

.header-title-projects .sub-title::after {
    background-color: #A65532;
}

.image_1,
.image_3,
.image_5,
.image_7 {
    min-height: 596px
}

.image_2,
.image_4,
.image_6,
.image_8 {
    min-height: 132px
}

.image_1 {
    background: url(../images/projects-1.png) no-repeat;
}

.image_2 {
    background: url(../images/projects-blur-1.png) no-repeat;
}

.image_3 {
    background: url(../images/projects-2.png) no-repeat;
}

.image_4 {
    background: url(../images/projects-blur-2.png) no-repeat;
}

.image_5 {
    background: url(../images/projects-3.png) no-repeat;
}

.image_6 {
    background: url(../images/projects-blur-3.png) no-repeat;
}

.image_7 {
    background: url(../images/projects-4.png) no-repeat;
}

.image_8 {
    background: url(../images/projects-blur-4.png) no-repeat;
}

.item-image {
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: cover;
    /* Современные браузеры */
}

.holder-projects-info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.projects-data {
    display: flex;
    flex-direction: column;
}

.projects-info-address {
    text-decoration: underline;
}

.projects-info-btn {
    margin-left: 20px;
}

.holder-projects-info p {
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
}

.built {
    font-size: 15px;
    text-transform: uppercase;
}

.projects-section .blog-main__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #A65532;
}

.projects-section .blog-main {
    margin-bottom: 0;
}

.projects-section .blog-main__content {
    padding-left: 0;
}

.projects-section .blog-main__text {
    max-width: 100%;
    flex: 0 0 50%;
}

.projects-section .blog-main__text p {
    margin-bottom: 40px;

}

.projects-section .blog-main__image {

    display: flex;
    align-items: center;

}

.projects-section .blog-main__image img {
    max-width: 510px;

}

/* end Projects section */
/* blog */

.blog-wrapper {
    overflow: hidden;
}

.blog .header-title-top {
    margin-top: 30px;
}

.blog-main {
    display: flex;
    margin-bottom: 100px;
}

.blog-main__image {
    flex: 1 1 calc(100% - 55% + 65px);
}

.blog-main__image img {
    width: 100%;
    height: auto;
}

.blog-main__content {
    flex: 1 1 50%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.blog__date {
    margin-top: 30px;
    opacity: 0.6;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 75px;
    color: #EFEBE4;
}

.blog__date::before {
    content: "";
    position: absolute;
    background-color: #f0f0f0;
    height: 1px;
    transform: scaleY(0.5);
    width: 55px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog-main__title {
    font-family: 'Cormorant Garamond', serif;
    margin: 30px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.blog-main__text {
    max-width: 435px;
    width: 100%;
}

.blog__items {
    padding-bottom: 80px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    margin-left: -40px;
    row-gap: 100px;
}

.blog__item {
    width: 33.33%;
}

.box {
    padding: 0 40px;
}

.blog__image {
    object-fit: cover;
    width: 100%;

}

.blog__title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    margin: 30px 0 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.pagination__btn {
    text-align: center;
    padding: 15px 23px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.pagination__btn+.pagination__btn {
    margin-left: 15px;
}

.pagination__btn:hover {
    background: rgba(239, 235, 228, 0.15);
}

.pagination .active {
    background: rgba(239, 235, 228, 0.4);
}

/* END Blog */


.story-title-wrapper {
    flex: 0 0 60%;
    padding-left: 70px;
}

.story-holder {
    padding: 140px 0 30px 0;
    margin-bottom: 0;
    justify-content: space-between;
}

.story-holder .slick-track {
    padding-bottom: 0;
}

.story .slick-slide>div {
    display: block;
    margin: 0 10px;
}

.story .my-dots {
    bottom: -40px;
}



.story-slider__box {
    display: flex;
}

.holder-story-slider {
    max-width: 1440px;
}

.story .blog__date {
    margin: 0 0 25px 0;
    display: inline-block;
}


.story-slider__image {
    flex: 0 0 40%;
    display: flex;
    padding: 10px 0;
}


.story-slider__content {
    flex: 0 0 60%;
    padding-left: 70px;
}

.story-slider__text p {
    max-width: 625px;
    line-height: 26px;
    letter-spacing: 0em;
    margin: 0 15px 15px 0;
}



.story-slider__content .projects-info {
    justify-content: space-between;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    gap: 0;
    margin: 0;
}

.story-slider-for .slick-track {
    padding-top: 0;
}

.story-slider-for .slick-slide>div {
    transform: scale(0.95);
    width: 100%;
    margin: 0 auto;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    line-height: 0;
}

.story-slider-for .button-arrow {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    z-index: 1;
    bottom: 25%;
}


.videoblock {
    max-width: 510px;
    display: flex;
    /* flex: 0 0 40%; */

}

.videoblock .draggable {
    padding: 0px 0 0 0 !important;
}

.videbolock-item {
    position: relative;
    max-height: 90px;
    line-height: 1px;
}

.videoblock-item>img {
    max-height: 100%;
    max-width: 100%;
}

.videoblock-item::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    cursor: pointer;
    height: 45px;
    width: 45px;
    background: rgba(239, 235, 228, 0.6);
    border-radius: 50%;
    background-image: url("../images/play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
}

/* btn back ti timeline */
.btn-wrapper {
    max-width: 220px;
    margin: 100px auto 20px;
    text-align: center;
}

.back-to-timeline {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #EFEBE4;
    text-transform: uppercase;
    padding-left: 36px;
}

.back-to-timeline::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 21px;
    background: url('../images/arrow-back.svg');
}

/* scroll  */

#mCSB_2_dragger_vertical,
#mCSB_1_dragger_vertical {
    height: 35px !important;
}


.mCSB_scrollTools .mCSB_draggerRail {
    width: 1px;
    background: rgba(239, 235, 228, 0.25);
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

    position: relative;
    width: 3px;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #EFEBE4;
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar {
    background: #EFEBE4;
    width: 3px;
    border-radius: 0;
}



/* about - scroll */
.scroll {
    max-height: 182px;
}

.scroll .mCSB_scrollTools .mCSB_draggerRail {
    width: 1px;
    background: rgba(239, 235, 228, 0.25);

}

.scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    margin: 0 auto;
    background: #EFEBE4;

}

.scroll .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #EFEBE4;

}

.scroll ._mCS_1 .mCSB_dragger .mCSB_dragger_bar {
    background: #EFEBE4;
    width: 3px;
    border-radius: 0;
}

.mCSB_inside>.mCSB_container {
    margin-right: 10px;
}

/* footer */

.holder-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.social-menu__list {
    display: flex;
    align-items: center;
}

.social-menu__item {
    margin-right: 16px;
}

.social-menu__item:last-child {
    margin-right: 0;
}

/* press page */

.press-section .blog__item {
    width: 50%;
}

.press-section .box {
    padding: 0 26px;
}

.press-section .blog__items {
    margin-right: -26px;
    margin-left: -26px;
}

.press-section .blog__date {
    font-size: 22px;
}

.press-section .blog__title {
    font-size: 40px;
    line-height: 48px;
}

.press-section .blog__text__p {
    font-size: 22px;
}



/* media */

@media screen and (max-width: 1300px) {
    .hero-main__description::before {
        width: 100%;
        right: 0;
    }

    .hero-main__image-wrapper,
    .hero-main__content {
        flex: 0 0 100%;
    }

    .hero-main__content-wrapper {
        margin-left: 0;
    }

    .hero-main__description,
    .hero-main__title {
        padding-right: 0;
    }

    .hero-main__title {
        text-align: center;
    }

    .hero-main__image {
        text-align: center;
    }

    .hero-main {
        margin-bottom: 50px;
    }

    .timeline-section {
        margin-top: 0;
    }

    .blog__item {
        width: 50%;
    }

    .story-slider-for .slick-slide>div {
        transform: scale(.815);
    }

    .holder-footer {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .holder-footer .holder-logo,
    .holder-footer .footer-nav-menu,
    .holder-footer .social-menu__list {
        margin-bottom: 30px;
    }

    .holder-footer .logo {
        z-index: 0;
    }
}

@media screen and (max-width: 1024px) {
    .hero-title {
        font-family: 'Cormorant Garamond';
        font-weight: 700;
        font-size: 100px;
        line-height: 90.5%;
        margin: 50px 0 50px 0;
        text-align: center;
    }

    .hero-main-content {
        flex-direction: column;
        display: flex;
        align-items: end;
        padding-right: 0;
    }

    .hero-main-img img {
        width: 100%;
        margin: 0 auto;
    }

    .hero-desc::after {
        right: 0;
    }

    .hero.first-screen {
        padding-top: 0;
    }

    .hero-desc {
        margin-bottom: 0;
        padding: 0 15px 20px;
    }

    .hero-desc::after {
        width: 100%;
    }



    .slider__data span {
        font-size: 120px;
    }


    .header-title-top {
        margin-top: 0;
        flex-direction: column-reverse;
    }


    .story-holder {
        padding-top: 0;
        flex-direction: row;
    }

    .scroll {
        max-height: auto;
        /* border-bottom: 1px solid rgba(239, 235, 228, 0.25); */
    }

    .holder-footer {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .holder-footer .holder-logo,
    .holder-footer .footer-nav-menu,
    .holder-footer .social-menu__list {
        margin-bottom: 30px;
    }

    .projects-info__item {
        text-align: center;
    }
}

@media screen and (max-width: 980px) {
    .container-menu {
        padding: 0;
    }

    .mobile-nav-button {
        display: flex;
    }

    .first-screen {
        padding-top: 40px;
    }

    .header.fixed {
        height: auto;
        position: fixed;

        background-color: #0A302E;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .header {
        padding: 20px 0px;

    }



    .nav-menu {
        display: none;
        background-color: #233E3C;
    }


    .nav-menu__list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        flex-direction: column;
        justify-content: center;
        row-gap: 10%;
        background-color: #0A302E;
        width: 100%;
        max-width: 100%;
    }

    .nav-menu__link {
        padding: 15px 0;
    }

    .nav-menu__item {
        margin-right: 0;
    }

    .nav-menu.active {
        display: flex;

        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - 79px);
    }

    .holder-menu {
        padding: 0 15px;
        row-gap: 30px;
        display: flex;
        flex-wrap: wrap;
        position: relative;

    }

    .header__title,
    .timeline-section .sub-title,
    .projects-section .sub-title {
        font-size: 50px;
        line-height: 55px;
        padding-left: 15px;
    }

    .hero-title {
        font-size: 75px;
        line-height: 1.1;
    }

    .hero-main {
        flex-direction: column;
        margin-bottom: 0;
    }

    .hero-main-content {
        align-items: center;
    }

    .hero-desc {
        row-gap: 25px;
        flex-direction: column;
    }

    .hero-dot {
        border-radius: 50%;
        margin: 0;
    }

    .header-title-projects {
        padding: 0px 0 50px;
    }

    .projects-info {
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto
    }

    .timeline-section,
    .projects-section {
        padding-top: 50px;

    }

    .projects-section .blog-main {
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .projects-section .blog-main__image {
        max-width: 100%;
    }

    .projects-section .blog-main__text p {
        column-gap: 30px;
    }

    .projects-section .blog-main__text p:last-child {
        margin-bottom: 0;
    }

    .projects-section .blog-main__text {
        padding-top: 50px;
    }

    .projects-section {
        padding-bottom: 50px;
    }


    .slider__data {
        top: 0;
        left: 0;
    }

    .hero-main__title {
        font-size: 92px;
    }

    .holder-projects-info {
        padding-top: 4px;
    }

    .holder-projects-info p {
        font-size: 20px;
    }

    .press-section .blog__items {
        margin-right: 0;
        margin-left: 0;
    }

    .blog-wrapper {
        overflow: visible;
    }

    .blog__items {
        row-gap: 70px;
    }

    .blog__item {
        width: 100%;
    }

    .press-section .blog__item {
        width: 100%;
    }

    .blog-main {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .blog-main__image {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
    }

    .blog__text__p {
        font-size: 16px;
    }

    .blog-main img {
        width: 75%;
    }

    .my-dots {
        bottom: 40px;
    }

    .story-slider-for .slick-arrow {
        display: none !important;
    }

    .story-holder {
        margin-bottom: 0;
        padding-top: 50px;
        flex-direction: column-reverse;

    }

    .story-title-wrapper {
        padding-left: 0;
        margin-bottom: 50px;
    }


    .blog-main__content {
        flex: 1 1 auto;
        align-items: center;
        padding: 0;
    }

    .blog-main__text {
        max-width: 100%;
    }

    .story-slider__box {
        flex-direction: column;
    }

    .story-slider__content {
        padding: 20px 0 0;
    }

    .story-slider__text p {
        max-width: 100%;

    }

    .story-slider__content .projects-info {
        justify-content: space-between;
        padding-bottom: 0;
        max-width: 100%;
        text-align: center;
    }

    .story-slider__image {
        max-width: 100%;
        padding: 0;
    }

    .btn-wrapper {
        margin-top: 0;

    }

    .image_1,
    .image_3,
    .image_5,
    .image_7 {
        min-height: 300px;
        background-position: center center;
    }

    .image_2,
    .image_4,
    .image_6,
    .image_8 {
        min-height: 60px;
        padding-bottom: 10px;
    }

    .footer-nav-menu .nav-menu__list {
        display: none;
    }

    .press-section .box {
        padding: 0 0px;
    }

}

@media screen and (max-width: 720px) {
    /* .hero-footer__text {
        display: none;
    } */

    .holder-projects-info p {
        font-size: 14px;
    }

    .slider__data span {
        font-size: 70px;
    }
}

@media screen and (max-width: 640px) {
    .first-screen {
        padding-top: 20px;
    }

    .hero-title {
        font-size: 60px;
        margin: 30px 0 30px 0;
    }



    .hero-desc {
        row-gap: 15px;
    }

    .hero-text {
        padding-top: 20px;
    }

    .hero-text p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;
    }


    .footer-nav-menu {
        display: none;
    }

    .story-slider__text p {
        margin: 0;
        padding: 10px;
    }



    .projects-info {
        padding: 30px 30px 0;
        margin: 0 auto;
        column-gap: 10px;
        max-width: 370px;
    }

    .projects-info__number {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .projects-info__text {
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        letter-spacing: 0em;
        text-transform: uppercase;
    }

    .projects-info__item {
        flex: 0 1 30%;
        column-gap: 15px;
    }

    .timeline-section .header-title-top {
        margin-bottom: 20px;
    }

    .holder-projects-info {
        flex-wrap: wrap;
    }

    .projects-info-address,
    .projects-data {
        flex-basis: 100%;
    }

    .projects-section .blog-main__text {
        text-align: center;
        font-size: 14px;
    }

    .projects-section .blog-main__text p {
        margin-bottom: 15px;
    }

    .hero-title {
        font-size: 45px;
        margin: 30px 0 30px 0;
    }

    .header__title,
    .projects-section .sub-title,
    .timeline-section .sub-title {
        font-size: 35px;
        line-height: 1.5;
        padding-bottom: 10px;
    }

    .first-screen {
        padding-top: 0;
    }

    .hero-main-img {
        width: 100%;
    }

    .projects-info__text {
        font-size: 10px;
        line-height: 15px;
    }

    .projects-info__number {
        font-size: 30px;
        line-height: 40px;
    }

    .logo {
        padding: 0 50px;
        font-size: 26px;
        line-height: 1.5;
    }

    .logo::after,
    .logo::before {
        width: 30px;
    }

    .ruler .slick-center .slider-year {
        font-size: 30px;
        left: -27px;
        top: -50px;

    }


    .mm-4 {
        opacity: 0.5;
    }

    .mm-1,
    .mm-3,
    .mm-5,
    .mm-7 {
        background-color: #fff;
        opacity: 0.3;
        width: 1px;
        /* display: none; */
    }

    .mm-1,
    .mm-7 {
        display: none;
    }

    .blog-main__content {
        align-items: flex-start;
    }

    .blog-main img {
        width: 100%;
    }

    .blog__items {
        row-gap: 30px;
    }

    .press-section .blog__title {
        font-size: 30px;
        line-height: 40px;
    }

    .press-section .blog__text__p {
        font-size: 16px;
    }

    .press-section .blog__date {
        font-size: 14px;
    }
}

.no-scroll {
    overflow: hidden;
}

/* tesssssst */